/* styles.css */

/* General Styles */
body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Arial', sans-serif;
}

/* Light Mode Variables */
@media (prefers-color-scheme: light) {
    :root {
        --background-color: #f0f2f6;
        --text-color: #333333;
        --form-background: #ffffff;
        --button-background: #4CAF50;
        --button-text: white;
        --card-background: #ffffff;
        --card-text: #333333;
    }
}

/* Dark Mode Variables */
@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #1e1e1e;
        --text-color: #f0f0f0;
        --form-background: #2e2e2e;
        --button-background: #4CAF50;
        --button-text: white;
        --card-background: #2e2e2e;
        --card-text: #f0f0f0;
    }
}

/* Style headings */
h1, h2, h3, h4, h5, h6 {
    color: var(--text-color);
}

/* Style buttons */
.stButton > button {
    background-color: var(--button-background);
    color: var(--button-text);
    border: none;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

/* Customize forms */
.stForm {
    background-color: var(--form-background);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Add spacing */
.stMarkdown p {
    line-height: 1.6;
}

/* Constrain image and video widths */
img, video {
    max-width: 700px; /* Adjust this value as needed */
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
